/*gallery*/
.body__gallery {
    background-color: $black;
  
    .main__gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 40px 30px 0px 30px;
  
      @media (min-width: 351px) and (max-width: 516px) {
        margin-top: 40px;
        padding-top: 20px;
      }
  
      .main__gallery--art {
        border: 1px groove $gray-200;
        border-radius: 40px 0px 40px 0px;
        width: 300px;
        height: auto;
        margin: 20px;
        padding: 20px 20px;
        text-align: center;
        box-shadow: 10px 10px 0px -1px $white;
        -webkit-box-shadow: 10px 10px 0px -1px $white;
        -moz-box-shadow: 10px 10px 0px -1px $white;
  
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
  
        @-webkit-keyframes slideInUp {
          0% {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            visibility: visible;
          }
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
        @keyframes slideInUp {
          0% {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            visibility: visible;
          }
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
  
        &:hover {
          background-color: #6d6c6c5e;
          transition: 1s;
  
          box-shadow: 10px 10px 0px -1px $secundario;
          -webkit-box-shadow: 10px 10px 0px -1px $secundario;
          -moz-box-shadow: 10px 10px 0px -1px $secundario;
        }
  
        img {
          width: 200px;
          height: 200px;
          border-radius: 150px;
  
          &:hover {
            transform: scale(1.6, 1.6);
            transition: 0.5s;
          }
  
          @media (min-width: 351px) and (max-width: 516px) {
            &:hover {
              transform: scale(1.5, 1.5);
              transition: 0.5s;
            }
          }
        }
  
        h2 {
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          color: $white;
          margin-top: 1rem;
          font-size: $fontSize2 + 5px;
        }
  
        h3 {
          font-family: "Quicksand", sans-serif;
          letter-spacing: 6px;
          color: $gray-100;
          font-size: $fontSize2;
        }
  
        p {
          font-size: $fontSize1 + 1px;
          margin-top: 5px;
          color: $white;
  
          @media (min-width: 351px) and (max-width: 516px) {
            font-size: $fontSize2 + 1px;
          }
        }
      }
    }
  
    .top-botton {
      padding: 3rem 0;
      a {
        color: $white;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 300;
        text-decoration: none;
      }
    }
  } 
  /*final gallery*/
  
  
  
  /*IG*/
  .main__ig {
    .main__ig--sub-title {
      display: flex;
      margin-top: 8rem;
      flex-direction: column;
      margin-bottom: 6rem;
  
      h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: $black;
  
        @media (min-width: 351px) and (max-width: 980px) {
          padding: 0 2rem 0 2rem;}
      }
  
      a {
        .fadeIn {
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
        @-webkit-keyframes fadeIn {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
  
        img {
          width: 4%;
          margin-top: 2rem;
  
          @media (min-width: 351px) and (max-width: 516px) {
            width: 20%;
          }
          @media (min-width: 517px) and (max-width: 980px) {
            width: 8%;
          }
        }
      }
    }
  
    .main__ig--grid {
      background-image: linear-gradient(
        to bottom,
        #ffffff,
        #ebe8fc,
        #d8d0f9,
        #c6b9f5,
        #b4a2f0,
        #b4a2f0,
        #b4a2f0,
        #b4a2f0,
        #c6b9f5,
        #d8d0f9,
        #ebe8fc,
        #ffffff
      );
      @include grid(
        grid,
        20vw 20vw 20vw 20vw,
        50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh,
        25px,
        25px
      );
      grid-template-areas:
        "image5 image20 image1 image4"
        "image3 image20 video2 image15"
        "image19 image16 image6 image15"
        ". title title ."
        "image14 image14 image2 image12"
        "image7 video image2 image18"
        "text1 text1 text2 text2"
        "image8 image22 image11 image13"
        "image23 image23 video3 image13"
        "video4 image24 image25 image25"
        "image21 image9 image10 image17";
      display: grid;
      margin-top: 0%;
      padding: 3rem 0 5rem 0;
      align-content: center;
      justify-content: center;
      height: 100%;
  
      @media (min-width: 768px) and (max-width: 1200px) {
        @include grid(
          grid,
          22vw 22vw 22vw 22vw,
          40vh 40vh 40vh 40vh 40vh 30vh 40vh 40vh 40vh 40vh 40vh 40vh,
          18px,
          18px
        );
        grid-template-rows: 50vh 50vh 50vh 50vh 50vh 40vh 45vh 50vh 50vh 50vh 50vh;}
      @media (min-width: 517px) and (max-width: 767px) {
        @include grid(
          grid,
          42vw 42vw,
          45vh 45vh 45vh 45vh 45vh 45vh 35vh 45vh 45vh 50vh 35vh 55vh 45vh 45vh
            35vh 45vh 45vh 45vh 55vh 45vh 45vh,
          20px,
          20px
        );
        grid-template-areas:
          "image5 image20"
          "image1 image20"
          "image4 image10"
          "image15 video2"
          "image14 image12"
          "image14 image16"
          "title title"
          "video image11"
          "image7 image6"
          "image23 image23"
          "text1 text1"
          "image24 image2"
          "image17 image2"
          "image18 image22"
          "text2 text2"
          "image13 image3"
          "image13 video3"
          "image21 image9"
          "image19 image19"
          "video4 image8"
          "image25 image8";}
      @media (min-width: 350px) and (max-width: 516px) {
        @include grid(
          grid,
          45vw 45vw,
          40vh 40vh 40vh 40vh 40vh 40vh 45vh 40vh 40vh 40vh 45vh 50vh 40vh 40vh
            45vh 40vh 40vh 50vh 40vh 40vh 40vh,
          15px,
          15px
        );
        grid-template-areas:
          "image5 image20"
          "image1 image20"
          "image4 image10"
          "image15 video2"
          "image14 image12"
          "image14 image16"
          "title title"
          "video image11"
          "image7 image6"
          "image23 image23"
          "text1 text1"
          "image24 image2"
          "image17 image2"
          "image18 image22"
          "text2 text2"
          "image13 image3"
          "image13 video3"
          "image21 image9"
          "image19 image19"
          "video4 image8"
          "image25 image8";}
  
      .image1 {
        grid-area: image1;
        background-image: url("../img/ig1-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig1.jpg");
          transition: 1.3s;
        }
  
        @media (min-width: 351px) and (max-width: 516px) {
          grid-area: image1;
          background-image: url("../img/ig1.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          border-radius: 5px;
        }
      }
  
      .image2 {
        grid-area: image2;
        background-image: url("../img/ig2-byn.jpg");
        background-repeat: no-repeat;
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig2.jpg");
          transition: 1.3s;
        }
      }
  
      .image3 {
        grid-area: image3;
        background-image: url("../img/ig8-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
        &:hover {
          background-image: url("../img/ig8.jpg");
          transition: 1.3s;
        }
      }
  
      .image4 {
        grid-area: image4;
        background-image: url("../img/ig3-byn.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        border-radius: 8px 150px 8px 20px;
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 8px;}
  
        &:hover {
          background-image: url("../img/ig3.jpg");
          transition: 1.5s;
        }
      }
  
      .image5 {
        grid-area: image5;
        background-image: url("../img/ig5-byn.jpg");
        background-position: top;
        background-size: cover;
        border-radius: 150px 8px 8px 20px;
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 100px 8px 8px 20px;}
  
        &:hover {
          background-image: url("../img/ig5.jpg");
          transition: 1.3s;
        }
      }
  
      .image6 {
        grid-area: image6;
        background-image: url("../img/ig6-byn.png");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig6.jpg");
          transition: 1.3s;
        }
      }
  
      .image7 {
        grid-area: image7;
        background-image: url("../img/ig7-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig7.jpg");
          transition: 1.3s;
        }
      }
  
      .image8 {
        grid-area: image8;
        background-image: url("../img/ig4-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 8px 8px 100px 8px;}
  
        &:hover {
          background-image: url("../img/ig4.jpg");
          transition: 1.3s;
        }
      }
  
      .image9 {
        grid-area: image9;
        background-image: url("../img/ig9-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig9.jpg");
          transition: 1.3s;
        }
      }
  
      .image10 {
        grid-area: image10;
        background-image: url("../img/ig10-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig10.jpg");
          transition: 1.3s;
        }
      }
  
      .image11 {
        grid-area: image11;
        background-image: url("../img/ig11-byn2.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig11.jpg");
          transition: 1.3s;
        }
      }
  
      .image12 {
        grid-area: image12;
        background-image: url("../img/ig12-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig12.jpg");
          transition: 1.3s;
        }
      }
  
      .image13 {
        grid-area: image13;
        background-image: url("../img/ig13-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig13.jpg");
          transition: 1.3s;
        }
      }
  
      .image14 {
        grid-area: image14;
        background-image: url("../img/ig14-byn.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 8px;
        @media (min-width: 350px) and (max-width: 767px) {
          background-position: top;}
  
        &:hover {
          background-image: url("../img/ig14.jpg");
          transition: 1.3s;
        }
      }
  
      .image15 {
        grid-area: image15;
        background-image: url("../img/ig15-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig15.jpg");
          transition: 1.3s;
        }
      }
  
      .image16 {
        grid-area: image16;
        background-image: url("../img/ig16-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig16.jpg");
          transition: 1.3s;
        }
      }
  
      .image17 {
        grid-area: image17;
        background-image: url("../img/ig17-byn.jpg");
        @extend %gridPr;
        border-radius: 8px 8px 150px 8px;
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 8px;}
  
        &:hover {
          background-image: url("../img/ig17.jpg");
          transition: 1.3s;
        }
      }
  
      .image18 {
        grid-area: image18;
        background-image: url("../img/ig18-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig18.jpg");
          transition: 1.3s;
        }
      }
  
      .image19 {
        grid-area: image19;
        background-image: url("../img/ig19-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 8px;}
  
        &:hover {
          background-image: url("../img/ig19.jpg");
          transition: 1.3s;
        }
      }
  
      .image20 {
        grid-area: image20;
        background-image: url("../img/ig20-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 8px 100px 8px 8px;}
  
        &:hover {
          background-image: url("../img/ig20.jpg");
          transition: 1.3s;
        }
      }
  
      .image21 {
        grid-area: image21;
        background-image: url("../img/ig21-byn.jpg");
        @extend %gridPr;
        border-radius: 8px 8px 8px 150px;
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 8px;}
  
        &:hover {
          background-image: url("../img/ig21.jpg");
          transition: 1.3s;
        }
      }
  
      .image22 {
        grid-area: image22;
        background-image: url("../img/ig22-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig22.jpg");
          transition: 1.3s;
        }
      }
  
      .image23 {
        grid-area: image23;
        background-image: url("../img/ig23-byn.jpg");
        background-position: center;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig23.jpg");
          transition: 1.3s;
        }
      }
  
      .image24 {
        grid-area: image24;
        background-image: url("../img/ig24-byn.jpg");
        background-position: center;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig24.jpg");
          transition: 1.3s;
        }
      }
  
      .image25 {
        grid-area: image25;
        background-image: url("../img/ig25-byn.jpg");
        background-position: center;
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 8px 8px 8px 100px;}
  
        &:hover {
          background-image: url("../img/ig25.jpg");
          transition: 1.3s;
        }
      }
  
      .video {
        grid-area: video;
        overflow: hidden;
        object-fit: cover;
        border-radius: 8px;
      }
  
      .video2 {
        grid-area: video2;
        overflow: hidden;
        object-fit: cover;
        border-radius: 8px;
      }
  
      .video3 {
        grid-area: video3;
        overflow: hidden;
        object-fit: cover;
        border-radius: 8px;
      }
  
      .video4 {
        grid-area: video4;
        overflow: hidden;
        object-fit: cover;
        border-radius: 8px;
      }
  
      .title {
        grid-area: title;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        align-self: center;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
  
        span {
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 10px;
          color: #fff;
        }
      }
  
      .text1 {
        grid-area: text1;
        align-self: center;
        padding: 0 1rem 0 1rem;
        text-align: justify;
        font-family: "Quicksand", sans-serif;
        @media (min-width: 768px) and (max-width: 979px) {
          font-size: 14px;}
        @media (min-width: 350px) and (max-width: 767px) {
          font-size: 14px;
          text-align: center;}
      }
  
      .text2 {
        grid-area: text2;
        align-self: center;
        padding: 0 1rem 0 1rem;
        font-family: "Quicksand", sans-serif;
        text-align: justify;
        @media (min-width: 768px) and (max-width: 979px) {
          font-size: 14px;}
        @media (min-width: 350px) and (max-width: 767px) {
          font-size: 14px;
          text-align: center;}
      }
    }
  
    .top-botton {
      padding-bottom: 4rem;
      a {
        color: $gray-200;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
      }
    }
  }
  /*final ig*/
  