/*header 2*/
.main-header-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  color: black;
  transition: 0.4s ease-out;
  padding: 15px 0px;
  overflow: hidden;

  .logo--2 {
    @extend %fontFam2;
    text-align: center;
    font-size: 50px;

    span {
      color: $secundario;
      &:hover {
        color: $black;
        transition: 1s;
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    color: $black;
  }

  .nav-links {
    overflow: hidden;
    display: flex;
    list-style: none;
    padding: 0px;

    .nav-link {
      padding: 2rem 4rem 0rem 0rem;

      a {
        margin: 0.2rem;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
      }
      a:hover {
        color: #9d83e9;
        transition: 1s;
      }
    }
  }

  .menu-icon {
    position: relative;
    padding: 0px;
    cursor: pointer;
    z-index: 1;
    display: none;

    &__line {
      display: block;
      position: relative;
      background: $black;
      height: 2px;
      width: 30px;
      border-radius: 4px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: $black;
        transition: background 0.8s ease;
      }

      &::before {
        transform: translateY(-5px);
      }

      &::after {
        transform: translateY(5px);
      }
    }
  }

  .menu-btn {
    display: none;
  }

  &.scrolled {
    height: 50px;
    background: rgba(0, 0, 0, 0.9);
    color: $white;

    .menu-icon {
      &__line,
      &__line::before,
      &__line::after {
        background: $white;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .main-header-2 {
    .nav-links {
      .nav-link {
        padding-right: 3rem;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .main-header-2 {
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 45px;

    .menu-icon {
      display: block;
      padding: 40px 0px 15px 50px;

      &__line {
        animation: closedMid 0.3s backwards;
        animation-direction: reverse;

        &::before {
          animation: closedTop 0.3s backwards;
          animation-direction: reverse;
        }
        &::after {
          animation: closedBtm 0.3s backwards;
          animation-direction: reverse;
        }
      }
    }

    .nav-links {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100vw;
      height: 100vh;
      font-size: 2rem;
      color: $white;
      background: #272727;
      transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
      clip-path: circle(200px at top right);

      .nav-link {
        padding-left: 40px;
        opacity: 0;
        transform: translateX(100%);
        width: 100%;

        a {
          display: block;
          padding: 0;
          color: $white;
        }
      }
    }

    .menu-btn:checked ~ .nav-links {
      opacity: 1;
      clip-path: circle(100% at center);
      z-index: 2;

      .nav-link {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.4s ease-in-out,
          transform 0.1s cubic-bezier(0.175, 0.085, 0.32, 1.275);

        &:nth-of-type(1) {
          transition-delay: 0.7s;
        }

        &:nth-of-type(2) {
          transition-delay: 0.8s;
        }

        &:nth-of-type(3) {
          transition-delay: 0.9s;
        }

        &:nth-of-type(4) {
          transition-delay: 1s;
        }
        &:nth-of-type(5) {
          transition-delay: 1.2s;
        }
      }
    }

    .menu-btn:checked ~ .menu-icon {
      z-index: 3;
      border-radius: 50%;
      animation: pulse 1s;

      .menu-icon__line {
        background: $white;
        animation: openMid 0.6s forwards;

        &::before {
          background: $white;
          animation: openTop 0.6s forwards;
        }
        &::after {
          background: $white;
          animation: openBtm 0.6s forwards;
        }
      }
    }
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes closedMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
/*final header 2*/
