
  
  /*IG*/
  .main__ig {
  
    .main__ig--sub-title {
      display: flex;
      margin-top: 8rem;
      flex-direction: column;
      margin-bottom: 6rem;
  
      h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: $black;
  
        @media (min-width: 351px) and (max-width: 980px) {
          padding: 0 2rem 0 2rem;}
      }
  
      a {
        .fadeIn {
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
        @-webkit-keyframes fadeIn {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
  
        img {
          width: 4%;
          margin-top: 2rem;

          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          z-index: 1;
          
          @-webkit-keyframes fadeIn {
          0% {opacity: 0;}
          100% {opacity: 1;}
          }
          @keyframes fadeIn {
          0% {opacity: 0;}
          100% {opacity: 1;}
          } 
  
          @media (min-width: 350px) and (max-width: 980px) {
            width: 8%;
          }
        }
      }
    }
  
    .main__ig--grid {


        -webkit-animation-name: slideInUp;
        animation-name: slideInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1.2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        
        @-webkit-keyframes slideInUp {
        0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        }
        @keyframes slideInUp {
        0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        } 


      background-image: linear-gradient(
        to bottom,
        #ffffff,
        #ebe8fc,
        #d8d0f9,
        #c6b9f5,
        #b4a2f0,
        #b4a2f0,
        #b4a2f0,
        #b4a2f0,
        #c6b9f5,
        #d8d0f9,
        #ebe8fc,
        #ffffff
      );
      @include grid(
        grid,
        20vw 20vw 20vw 20vw,
        45vh 45vh 45vh 45vh 45vh 45vh 45vh 45vh 45vh 45vh,
        25px,
        25px
      );
      grid-template-areas:
        "image5 image20 image1 image4"
        "image3 image20 image25 image15"
        "image19 image16 image6 image15"
        ". title title ."
        "image14 image14 image2 image12"
        "image7 image26 image2 image18"
        "text1 text1 text2 text2"
        "image8 image22 image11 image13"
        "image23 image23 image24 image13"
        "image21 image9 image10 image17";
      display: grid;
      margin-top: 0%;
      padding: 3rem 0 5rem 0;
      align-content: center;
      justify-content: center;
      height: 100%;
  
      @media (min-width: 768px) and (max-width: 1200px) {
        @include grid(
          grid,
          22vw 22vw 22vw 22vw,
          40vh 40vh 40vh 40vh 40vh 30vh 40vh 40vh 40vh 40vh,
          18px,
          18px
        );}
      @media (min-width: 350px) and (max-width: 767px) {
        @include grid(
          grid,
          42vw 42vw,
          45vh 45vh 45vh 45vh 45vh 45vh 35vh 45vh 45vh 45vh 35vh 45vh
          45vh 35vh 45vh 45vh 45vh 45vh,
          20px,
          20px
        );
        grid-template-areas:
          "image5 image20"
          "image1 image20"
          "image4 image10"
          "image15 image19"
          "image14 image12"
          "image14 image16"
          "title title"
          "image11 image26"
          "image7 image6"
          "image23 image23"
          "text1 text1"
          "image17 image2"
          "image18 image22"
          "text2 text2"
          "image13 image21"
          "image13 image24"
          "image3 image9"
          "image25 image8";}
      @media (min-width: 350px) and (max-width: 516px) {
        @include grid(
          grid,
          42vw 42vw,
          30vh 30vh 30vh 30vh 30vh 30vh 30vh 30vh 30vh 30vh 30vh 30vh
          30vh 30vh 30vh 30vh 30vh 30vh,
          18px,
          20px
        );
      }
  
      .image1 {
        grid-area: image1;
        background-image: url("../img/ig1-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig1.jpg");
          transition: 1.3s;
        }
  
        @media (min-width: 351px) and (max-width: 516px) {
          background-size: cover;
          background-position: center;
          border-radius: 5px;
        }
      }
  
      .image2 {
        grid-area: image2;
        background-image: url("../img/ig2.jpg");
        background-repeat: no-repeat;
        @extend %gridPr;
        border-radius: 8px;
      }
  
      .image3 {
        grid-area: image3;
        background-image: url("../img/ig8.jpg");
        @extend %gridPr;
        border-radius: 8px;
      }
  
      .image4 {
        grid-area: image4;
        background-image: url("../img/ig5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        border-radius: 8px 150px 8px 8px;
        @media (min-width: 768px) and (max-width: 1200px){
        border-radius: 8px 95px 8px 8px;
        }
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 8px;}
      }
  
      .image5 {
        grid-area: image5;
        background-image: url("../img/ig3-byn.jpg");
        background-position: top;
        background-size: cover;
        border-radius: 150px 8px 8px 8px;
        @media (min-width: 768px) and (max-width: 1200px){
          border-radius: 95px 8px 8px 8px;
          }
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 80px 8px 8px 20px;}
  
        &:hover {
          transition: 1.3s;
          background-image: url("../img/ig3.jpg");
        }
      }
  
      .image6 {
        grid-area: image6;
        background-image: url("../img/ig6.jpg");
        @extend %gridPr;
        border-radius: 8px;
      }
  
      .image7 {
        grid-area: image7;
        background-image: url("../img/ig7-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig7.jpg");
          transition: 1.3s;
        }
      }
  
      .image8 {
        grid-area: image8;
        background-image: url("../img/ig13-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 8px 8px 80px 8px;}
  
        &:hover {
          transition: 1.3s;
          background-image: url("../img/ig13.jpg");
        }
      }
  
      .image9 {
        grid-area: image9;
        background-image: url("../img/ig9.jpg");
        @extend %gridPr;
        border-radius: 8px;
      }
  
      .image10 {
        grid-area: image10;
        background-image: url("../img/ig10-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig10.jpg");
          transition: 1.3s;
        }
      }
  
      .image11 {
        grid-area: image11;
        background-image: url("../img/ig4.jpg");
        @extend %gridPr;
        border-radius: 8px;
      }
  
      .image12 {
        grid-area: image12;
        background-image: url("../img/ig12.jpg");
        @extend %gridPr;
        border-radius: 8px;
      }
  
      .image13 {
        grid-area: image13;
        background-image: url("../img/ig11-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig11.jpg");
          transition: 1.3s;
        }
      }
  
      .image14 {
        grid-area: image14;
        background-image: url("../img/ig14-byn.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 8px;
        @media (min-width: 350px) and (max-width: 767px) {
          background-position: top;}
  
        &:hover {
          background-image: url("../img/ig14.jpg");
          transition: 1.3s;
        }
      }
  
      .image15 {
        grid-area: image15;
        background-image: url("../img/ig15-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig15.jpg");
          transition: 1.3s;
        }
      }
  
      .image16 {
        grid-area: image16;
        background-image: url("../img/ig16.jpg");
        @extend %gridPr;
        border-radius: 8px;
      }
  
      .image17 {
        grid-area: image17;
        background-image: url("../img/ig17-byn.jpg");
        @extend %gridPr;
        border-radius: 8px 8px 150px 8px;
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 8px;}
  
        &:hover {
          background-image: url("../img/ig17.jpg");
          transition: 1.3s;
        }
      }
  
      .image18 {
        grid-area: image18;
        background-image: url("../img/ig18-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig18.jpg");
          transition: 1.3s;
        }
      }
  
      .image19 {
        grid-area: image19;
        background-image: url("../img/ig19-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 8px;}
  
        &:hover {
          background-image: url("../img/ig19.jpg");
          transition: 1.3s;
        }
      }
  
      .image20 {
        grid-area: image20;
        background-image: url("../img/ig20-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 8px 80px 8px 8px;}
  
        &:hover {
          background-image: url("../img/ig20.jpg");
          transition: 1.3s;
        }
      }
  
      .image21 {
        grid-area: image21;
        background-image: url("../img/ig21-byn.jpg");
        @extend %gridPr;
        border-radius: 8px 8px 8px 150px;
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 8px;}
  
        &:hover {
          background-image: url("../img/ig21.jpg");
          transition: 1.3s;
        }
      }
  
      .image22 {
        grid-area: image22;
        background-image: url("../img/ig22-byn.jpg");
        @extend %gridPr;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig22.jpg");
          transition: 1.3s;
        }
      }
  
      .image23 {
        grid-area: image23;
        background-image: url("../img/ig23.jpg");
        background-position: center;
        border-radius: 8px;
      }
  
      .image24 {
        grid-area: image24;
        background-image: url("../img/ig24-byn.jpg");
        background-position: center;
        border-radius: 8px;
  
        &:hover {
          background-image: url("../img/ig24.jpg");
          transition: 1.3s;
        }
      }
  
      .image25 {
        grid-area: image25;
        background-image: url("../img/ig25-byn.jpg");
        background-position: center;

        border-radius: 8px;
        @media (min-width: 350px) and (max-width: 767px) {
          border-radius: 8px 8px 8px 80px;}
  
        &:hover {
          transition: 1.2s;
          background-image: url("../img/ig25.jpg");
        }
      }
  
      .image26 {
        grid-area: image26;
        background-image: url("../img/ig26-byn.jpg");
        border-radius: 8px;
       background-position: center;

        &:hover {
          background-image: url("../img/ig26.jpg");
          transition: 1.2s;
        }
      }
  
  
      .title {
        grid-area: title;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        align-self: center;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        @media (min-width: 350px) and (max-width: 516px){
          font-size: $fontSize1+4;
        }
  
        span {
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 10px;
          color: #fff;
        }
      }
  
      .text1 {
        grid-area: text1;
        align-self: center;
        padding-left: 1rem;
        text-align: justify;
        font-family: "Quicksand", sans-serif;
        @media (min-width: 768px) and (max-width: 979px) {
          font-size: $fontSize1;}
        @media (min-width: 350px) and (max-width: 767px) {
          font-size: $fontSize1;
          text-align: center;}
      }
  
      .text2 {
        grid-area: text2;
        align-self: center;
        padding-right: 1rem;
        font-family: "Quicksand", sans-serif;
        text-align: justify;
        @media (min-width: 768px) and (max-width: 979px) {
          font-size: $fontSize1;}
        @media (min-width: 350px) and (max-width: 767px) {
          font-size: $fontSize1;
          text-align: center;}
      }
    }
  
    .top-botton {
      padding-bottom: 4rem;

      -webkit-animation-name: bounce;
      animation-name: bounce;
      -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
      transform-origin: center bottom;
      -webkit-animation-duration: 1s;
      animation-duration: 3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      @-webkit-keyframes bounce {
      0%, 20%, 53%, 80%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      }
      40%, 43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
      }
      70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
      }
      90% {
      -webkit-transform: translate3d(0,-4px,0);
      transform: translate3d(0,-4px,0);
      }
      }
      
      @keyframes bounce {
      0%, 20%, 53%, 80%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      }
      40%, 43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
      }
      70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
      }
      90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
      }
      } 


      a {
        color: $gray-200;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
      }
    }
  }
  /*final ig*/
  