$colorPrincipal: #5c568f;
$colorPrin2:#867aaa;
$fontSize1: 13px;
$fontSize2: 15px;
$porcentajeTotal: 100%;




/*Colores - tonalidades*/
$general: #9d83e9;
$secundario: #867aaa;


/*grises*/
$white:    #ffffff;
$gray-100: #e9ecef;
$gray-200: #6e6d6d;
$gray-300: #4d4b4b;
$gray-400: rgb(32, 32, 32);
$black:    #000000;